---
import "../styles/global.css";
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>TP4 – Graphiques côté client</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/simple">Simple</a></li>
          <li><a href="/penguin">Penguin</a></li>
          <li><a href="/penguin-filter">Filtre</a></li>
          <li><a href="/penguin-multi-filter">Multi-filtres</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>


